:root {
    --primary: black;
    --gray: red;
    --whitesmoke: white;
    --dark:blue;
    --monoaki: green;
    --navbar-height: 40px;
  }

  body {
    margin: 0;
    background-color: var(--monoaki);
    font-family: system-ui, -apple-system, 'Helvetica',
      sans-serif;
  }

  h1 {
    font-size: 2opx;
  }

  .loading-swirly {
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-name: rotate-forever;
    animation-timing-function: linear;
    height: 30px;
    width: 30px;
    border: 3px solid var(--primary);
    border-right-color: transparent;
    border-radius: 50%;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--navbar-height));
  }

  .btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    outline: none;
    color: #6a1717;
    background-color: #6a4f4f;
  }
  
  .btn:hover {
    background-color: #cecece;
    cursor: pointer;
  }
  
  .btn.btn-squared {
    border-radius: 0;
  }
  
  .btn.btn-sm {
    font-size: 0.85rem;
    padding: 0.3rem 0.9rem;
  }
  
  .btn.btn-lg {
    font-size: 1.25rem;
    padding: 0.8rem 1.4rem;
  }
  
  .btn.btn-block {
    width: 100%;
    display: block;
    text-align: center;
  }
  
  .btn.btn-primary {
    background-color: black;
    color: white;
  }
  
  .btn.btn-primary:hover {
    background-color: #bdce23;
  }
  
  .btn.btn-danger {
    background-color: #65373e;
    color: white;
  }
  
  .btn.btn-danger:hover {
    background-color: #4f9f53;
  }
  
  .btn.btn-info {
    background-color: #302950;
    color: #ffffff;
  }
  
  .btn.btn-info:hover {
    background-color: #31e1bd;
  }
  
  .btn.btn-light {
    background-color: #d9e9e8;
    color: #1a1a1a;
  }
  
  .btn.btn-light:hover {
    background-color: #84b8b4;
  }
  
  .btn.btn-dark {
    background-color: #1a1a1a;
    color: #d9e9e8;
  }
  
  .btn.btn-dark:hover {
    background-color: #5f5f5f;
  }
  
  .btn.btn-white {
    background-color: #ffffff;
    color: #1a1a1a;
  }
  
  .btn.btn-white:hover {
    background-color: #cccccc;
  }
  
  .btn.btn-black {
    background-color: #000000;
    color: #ffffff;
  }
  
  .btn.btn-black:hover {
    background-color: #666666;
  }
  
  .btn.btn-link {
    background-color: #1b89bc;
    color: #ffffff;
  }
  
  .btn.btn-link:hover {
    background-color: #31a9e1;
  }
  
  @media only screen and (max-width: 600px) {
    .nav-btn {
      display: none;
    }
  
    .navbar-brand {
      display: none;
    }
  
    #navbar {
      justify-content: center;
    }
  
    h1 {
      font-size: 18px;
    }
  }
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--navbar-height));
  }
  
  @keyframes rotate-forever {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .app-update {
    display: none;
    position: absolute;
    right: 10px;
  }
  
  .app-update.show {
    display: block;
  }
  
  .nav-btn {
    margin: 25px;
  }